<% content_for :header_tags do %>
  <%= tag :meta, name: :page_specific_js, channel_name: "user:" + User.current.login, user_name: User.current.login %>

  <% if Rails::VERSION::MAJOR >= 5 %>
    <%= javascript_include_tag(:action_cable, :plugin => 'redmine_rt') %>
    <%= javascript_include_tag(:cable, :plugin => 'redmine_rt') %>
  <% else %>
    <%= javascript_include_tag(:websocket_rails, :plugin => 'redmine_rt') %>
    <%= javascript_include_tag(:dispatcher, :plugin => 'redmine_rt') %>
  <% end %>

  <%= javascript_include_tag("channels/realtime_channel.js", :plugin => 'redmine_rt') %>

<% end %>

<h2>Realtime</h2>

<h3>Keep this tab open so that issue tabs can be opened automatically when a call is answered.</h3>
